<form #form="ngForm">
    <h3>Dados:</h3>
    <label >
        Nome:
        <input type="text" name="nome" #nome="ngModel" [ngModel]="nome.value" required>
        <span *ngIf="!nome.valid">
            Invalid
        </span>
        <span *ngIf="nome.valid">
            Valid
        </span>
    </label>

    <br><br>
    
    Preenchido: {{nome.valid}} <br>
    Caracteres: {{nome.dirty}} <br>
    Tocou: {{nome.touched}} <br>

    <br><br>

    <h3>Sexo:</h3>
    <label >
        Feminino
        <input type="radio" name="sexo" value="Feminino" ngModel>
    </label>

    <br><br>
    <label >
        Masculino
        <input type="radio" name="sexo" value="Masculino" ngModel>
    </label>

    <br><br>    
    <label >
        Outro
        <input type="radio" name="sexo" value="Outro" ngModel>
    </label>

    <br><br>
    
    <h3>Tecnologias:</h3>
    <label >
        Angular
        <input type="checkbox" name="angular" ngModel>
    </label>

    <br><br>

    <label >
        Java
        <input type="checkbox" name="java" ngModel>
    </label>

    <br><br>

    <select name="comda" ngModel>
        <option value="">Selecione uma comida</option>
        <option *ngFor="let item of list" [ngValue]="item">
            {{item.comida}} - {{item.preco}} 
        </option>
    </select>


</form>

{{form.value | json}}